.navbar-brand img {
    width: 150px;  
    height: auto;  
    display: inline-block; 
}

.navbar-nav {
    margin-left: auto;
    font-weight: 700;
}

.nav-item {
    margin-right: 20px;
}


.custom-margin {
    margin-right: 80px;

    }

    body {
        font-family: 'Montserrat', sans-serif;
        background-color:antiquewhite;
    }

    .carousel {
        width: 100%;
        max-width: 200px; 
        position: relative; 
        padding-top: 33.33%; 
        overflow: hidden;
    }
    
    .carousel-inner, .carousel-item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    
    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: contain; 
        object-position: center;
    }

.carousel-caption .btn {
    background-color: transparent;
    border: 2px solid #ffc107; 
    color: #ffc107; 
    transition: background-color 0.3s, color 0.3s;
}

.carousel-caption .btn:hover {
    background-color: #ffc107; 
    color: #fff; 
}

.carousel-caption .btn a {
    color: inherit; 
    text-decoration: none;
}

.carousel-caption .btn a {
    display: block;
    width: 100%;
    height: 100%;
}

    
    



    @media only screen and (max-width: 4320px) {        
        .form-container {
            width: 50%; 
        }
    }
    @media only screen and (max-width: 992px) {       
        .form-container {
            width: 75%; 
        }
    }

    @media only screen and (max-width: 768px) {        
        .form-container {
            width: 90%; 
        }
    }

    @media only screen and (max-width: 576px) {
        .form-container {
            width: 100%; 
            padding: 0 15px;
        }
    }

    .custom-card {
        max-width: fit-content; 
        margin: 0 auto;         
    }
    

    
    